*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



#container{
    width: 100%;
    min-width: 100vh;
    background:linear-gradient(134deg, #143677,#0e0e0e );
    padding: 10px;

}
#todo{
           min-height:200px;
            width:100%;
            margin: 100px auto 20px;
            padding: 40px 30px 70px;
            border-radius: 10px;
            background-color: bisque;
           
        
}
#inputbox{
                display: flex; 
                align-content: center; 
                justify-content:space-between;
                background-color: beige;
                border-radius: 30px;
                padding-left: 20px;
                margin-bottom: 25px;
                /* border: 1px solid black; */
                /* width:200px;
                margin-left: 80px;
                border-radius: 20px; */
}
input{
    flex: 2;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;

}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

 ul li span{
     position:absolute;
     right:1000px;
     top: 15px;
     width: 20px;
     height: 20px;
     font-size: 22px;
     color: brown;
     line-height: 16px;
     text-align: center;
    /* padding: 8px 8px 8px 8px;  */
}
ul li span:hover{
            background-color: antiquewhite;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unckecked.jpg);
    background-size: cover;
    background-position: center;
    top:8px;
    left: 8px;

}
/* li{list-style: none;} */
ul li.checked{
            color: #555;
            text-decoration: line-through;
            /* margin-left: 20px; */
            
        }
ul li.checked::before{
            background-image: url(ckecked.jpg);

   }     

